body {
    font-family: 'Montserrat', serif;
}
.side-nav {
    position: fixed;
    padding: 0;
    width: 20%;
    height: 100%;
    background-color: snow;
    color: black;
    z-index: 100;
    animation-name: side-nav-anim;
    animation-duration: 1s;
    transition-duration: .6s;
}

.simple-nav {
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}

.timelines-main, .project-main {
    width: 100%;
    padding: 100px;
    background-image: url(coding.jpg);
    background-position: top;
    background-size: auto;
    text-align: center;
}

.nearby {
    padding: 20px;
    color: rgb(0,255,135);
    background-color: rgb(56,0,60);
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}

.full-scr {
    height: 100vh !important;
}

.simple-nav-group {
    margin-top: 200px;
}

.profil-text {
    margin: 10px;
    /*color: white;*/
    text-align: left;
}

.not-toggle {
    font-size: 1.6em;
}

.not-toggle:hover {
    cursor: pointer;
}

.active {
    background-color: #337ab7;
    color: white;
}

.main-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 420px;
    overflow: auto;
    background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .9));
    color: white;
    transition-property: height;
    transition-duration: .4s;
    z-index: 1;
}

.stat-nav {
    color: white;
    width: 100%;
    position: fixed;
    background-color: rgb(56,0,60);
    padding: 15px;
}

.greet-main {
    margin-bottom: 35vh;
}

.main-image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://goo.gl/zReg1P);
    background-position: center top;
    background-size: cover;
    overflow: hidden;
}

.main-image-blur {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5));
    color: white;
}

.top-nav {
    display: none;
    margin-top: -20%;
    transition-duration: .6s;
}
.top-nav-menu {

}
.side-margin {
    margin-left: 20%;
    transition-duration: .6s;
}
.row > * {
    transition-duration: .6s;
}
.close-side-nav {
    font-size: 2.5em;
    color: black;
    text-align: left;
    padding-top: 10px;
}
.profil-container {
    color: black;
}
.photo-container {
    text-align: center;
    background-color: #a92727;
}
body {
    background-color: whitesmoke;
}
.card {
    box-shadow: 0 0 5px grey;
    margin: 10px 0px;
    width: 100%;
}
.card:hover {
    cursor: pointer;
}
.card-block {
    background-color: white;
}
.card-fade {
    height: 100%;
    padding: 15px;
    background-color: rgba(0,0,0,.4);
}
.card-static {
    height: 100%;
    padding: 15px;
}
.sagoe {
    font-family: verdana;
}
.carousel {
    height: 400px;
    box-shadow: 0 0 5px grey;
}
.carousel img {
    width: 100%;
    height: 400px !important;
}
.material-image {
    width: 100%;
    height: 200px;
    padding-top: 15px;
    text-align: center;
}
.material-red {
    color: white;
    background-color: #3f51b5;
}
.material-pink {
    color: white;
    background-color: #e91e63;
}
.material-purple {
    color: white;
    background-color: #9c27b0;
}
.card-header span {
    font-size: 3em;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.list-group-item:hover:not(.active) {
    cursor: pointer;
    background-color: rgb(240,240,240);
}
.list-group-item {
    cursor: pointer;
    transition-duration: .5s;
}
@keyframes side-nav-anim {
    from {
        margin-left: -25%;
    }
    to {
        margin-left: 0%;
    }
}
@keyframes body-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media only screen and (max-width: 766px) {
    .side-nav {
        margin-left: -70%;
    }
    .side-margin {
        margin-left: 0%;
    }
    .top-nav {
        display: block;
        margin-top: 0%;
    }
    .top-nav-menu {
        position: fixed;
        display: block;
        background-color: white;
        width: 100%;
        height: auto;
        padding: 10px;
        text-align: center;
        z-index: 100;
    }
    .mobile-margin {
        margin-top: 70px;
    }
    .login-container {
        height: 100%;
    }
    .login-form {
        width: 100%;
    }
    .project-main, .timelines-main {
      padding-top: 150px;
    }
}

/* Login css */

.login-container {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7));
    height: 100vh;
    overflow: auto;
}
.login-background {
    background-image: url(city_road.jpg);
    background-attachment: fixed;
    background-position: center;
}
.login-text {
    color: white;
}
.login-form {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    color: rgb(0,255,135);
    border-radius: 5px;
    background-color: rgb(56,0,60);
}
.nav-tabs > li > a {
    color: white;
}
